@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,400&display=swap');

:root{
    --main-color : #212147;
    --writing-color: #a3a3a3;
    --second-color: #f8f5e3;
    --carmen-color: #d75faf;
    --dana-color: #fbab26;
    --eslem-color: #353d64;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color:#94949C;
}
/* navbar */
.navbar .container{
    max-width: auto;
    margin: auto ;
    overflow: hidden;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    margin: 0px;
    font-size: 25px;
    background-color: var(--second-color);
    z-index: 100;
    
}
.navbar .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.navbar .nav{
    display:flex;
    justify-self: flex-end;
    align-items: center;
    margin-left: 10px;

}
 ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--main-color);
}
.navbar .nav a{
    text-decoration: none;
    padding: 0 20px;
}
/* eslem ouederni hi  */
.eslemouederni .container{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-top: 40px;
    max-width: 100%;
    width: 100vw;
    height: 50vw;
    display: flex;
    background-color: var(--eslem-color);

}
.eslemouederni .container .intro:before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;
    border-bottom: 1px solid var(--writing-color);

}
.eslemouederni .container .intro{
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
    align-self: center;

}
.eslemouederni .container .intro p{
    font-size: 80px; /* or keep 60px? its kind of small */
    margin-right: auto;
    margin-left: auto;
    color: var(--second-color);
}
.aboutme .container{
    width: 100vw;
    height: 80vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.aboutme .container::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;
    border-bottom: 1px solid var(--writing-color);

}
.aboutme .container .img img{
    width: 50%;
    /* height: 50%; */
    justify-self: center;
    align-self: center;
    margin: 0 150px;
}
.aboutme .container .abouteslem{
    width: 80%;
    justify-self: center;
    align-self: center;
    line-height: 1.9rem;
    color: var(--second-color);
    transform: translateY(-80px);
}
.aboutme .container .abouteslem p{
    font-size: 20px;
}
/* dana page */
.dana .container{
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    padding-top: 40px;
    max-width: 100%;
    width: 100vw;
    height: 50vw;
    display: flex;
    background-color: var(--dana-color);

}
.dana .container:before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;
    border-bottom: 1px solid var(--writing-color);

}
.dana .container .intro{
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
    align-self: center;
    /* background-color: var(--dana-color); */

}
.dana .container .intro p{
    font-size: 80px;
    margin-right: auto;
    margin-left: auto;
    color: var(--second-color);
}
.aboutdana .container{
    width: 100vw;
    height: 80vh;
    max-width: 100%;
    background-color: var(--dana-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.aboutdana .container::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;
    border-bottom: 1px solid var(--writing-color);

}
.aboutdana .container .img img{
    width: 50%;
    /* height: 50%; */
    justify-self: center;
    align-self: center;
    margin: 50px 200px;
}
.aboutdana .container .aboutdana2{
    width: 80%;
    justify-self: center;
    align-self: center;
    line-height: 1.8rem;
    color: var(--second-color);
    transform: translateY(-70px);
}

/* contact form */
.eslemcontact .userform{
    width: 100vw;
    height: 70vh;
    max-width: 100%;
    background-color: var(--eslem-color);
    align-self: center;
    text-align: center;
    line-height: 1.6rem;
    margin-bottom: 10px;
}

.contact .userform h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px;
    color: var(--second-color);
}
.contact .userform input{
    width: 25%;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--second-color);
    outline: none;
    background: transparent;
    transition:all;
}
.contact .userform input:focus{
    border-bottom:2px solid var(--dana-color);
}
.contact .userform textarea{
    padding: 10px 0;
    color: var;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--second-color);
    font-size: 16px;
}
::placeholder{
    color: var(--second-color);
}


.contact .container email, subject, textarea {
    outline: none;
    border: none;
}
/* dana's contact form  */
.danacontact .userform{
    width: 100vw;
    height: 70vh;
    max-width: 100%;
    background-color: var(--dana-color);
    text-align: center;
    line-height: 4rem;
    margin-bottom: 20px;
}
.contact .userform input:focus{
    border-bottom:2px solid var(--eslem-color);
}
/* responsive */
@media (max-width:780px){
    body {
        font-size: 10px;
    }
    .navbar{
        font-size: 15px;
        padding: 10px;
    }
    .eslemouederni .container{
        width: 100vw;
        height: 80vh;  
        margin-top: 10px;
      }
    .eslemouederni .container .intro p {
        font-size: 20px;
    }
    .aboutme{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 
}
hr{
    border-color: black;
}
/* footer  */
footer .footer_container {
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--second-color);
}
footer .footer_container p{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-top: 4px;
    margin-left: -5px;
}
footer .footer_container .input_container input[type=text]{
    padding: 5px 20px;
    width: 250px;
    border-radius: 1px;
    color: var(--main-color); /* is this for search placeholder? i cant see the text on my page */
    outline-color: var(--dana-color);
}
