@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,400&display=swap');
/* font-weight 300 400 and regular 400 italic */
:root{
    --main-color : #212147;
    --writing-color: #a3a3a3;
    --second-color: #f8f5e3;
    --carmen-color: #d75faf;
    --dana-color: #fbab26;
    --eslem-color: #353d64;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: var(--second-color);
    color:#94949C ;
}
/* navbar */
.container{
    max-width: auto;
    margin: auto;
    overflow: hidden;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    margin: 0px;
    font-size: 25px;
    background-color: var(--second-color);
    z-index: 100;
    /* background-color:var(--main-color); */
}
.navbar .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.navbar .nav{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;

}
 ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--main-color);
}
.navbar .nav a{
    text-decoration: none;
    padding: 0 20px;
}
/* section one welcome */
.introduction .welcomecats {
    margin-top: 110px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    width: 100vw;
    height: 45vw;
}
.introduction .welcomecats .img_text{
/*    background-image: url(img\undraw_welcome_cats_thqn.svg); */
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height:474px;
    text-align: center;
}
.img_text .welcome{
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    height: 50px;
   
}
/* section portfolio */
.portfolio .portfolio_img{
    display: flex;
    justify-content: center;
    align-content: space-around;
    max-width: 1110px;
    width: 100vw;
    height:50vw;
    margin-right:auto;
    margin-left: auto;
}
.portfolio .portfolio_img .carmen, .dana, .eslem{
    padding: 0 30px;
    margin: 0 20px;
    border: 3px solid var(--main-color);
    border-bottom-width: 10px;
    border-radius: 8px;
    height: 600px;
}
.portfolio .portfolio_img .carmen{
    background-color: var(--carmen-color);
}
.portfolio .portfolio_img .dana{
    background-color: var(--dana-color);
}
.portfolio .portfolio_img .eslem{
    background-color: var(--eslem-color);
}
img{
    /* justify-self: center; */
    height: 100%;
    width:100%;
    
}
.portfolio .portfolio_img .p{
    justify-self: center;
    font-size: 20px;
    color: black;
    width: 220px; 
    transform: translate(20px,-70px);
    
}
hr{
    border-color: black;
}
/* footer  */
footer .footer_container {
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
footer .footer_container p{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    ;
    margin-bottom: 5px;
}
footer .footer_container .input_container input[type=text]{
    padding: 5px 20px;
    width: 250px;
    border-radius: 1px;
    color: var(--main-color);
    /* outline: none; */
    outline-color: var(--dana-color) ;
}