@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,400&display=swap');
/* font-weight 300 400 and regular 400 italic */
:root{
    --main-color : #e85a4f;
    --second-color: #e98074;
    --logo-color: #da483d;
    --writing-color: #8e8d8a;
    --second-writing-color: #eae7dc;
    --dana-color: #9d6381;
    --eslem-color: #171616;
    --background-color: #d8c3a5;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    color: black;
}
/* navbar */
header {
    top: 0;
    margin: 0;
    width: 100%;
    padding: 18px;
    background: transparent;
    float: left;
    position: fixed;
    text-decoration: none;
    z-index: 100;
}
header #logo {
    color: var(--logo-color);
    cursor: pointer;
}
header #logo span {
    font-size: 1.5em;
    line-height: 30px;
    font-family: 'Suez One', serif;
}
@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.6em;
    }
    #about {
        float: right;
        width: 60%;
    }
}
@media (min-width: 871px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.6em;
    }
    #about {
        float: right;
        width: 60%;
    }
}
#about {
    text-align: right;
    line-height: 30px;
    margin-top: 2px;
    font-size: 35px;
}
#about > a {
    color: var(--main-color);
    text-decoration: none;
    margin-left: 28px;
    font-family: Helvetica;
}
#about > a:hover {
    color: #e98074;
    text-decoration: none;
}

@media (max-width: 800px) {
    #logo {
        margin-top: px;
        width: 30%;
        font-size: 1.4em;
    }
    #about {
        width: 60%;
        font-size: 1.6em;
    }
}
@media (max-width: 700px) {
    #logo {
        font-size: 1.5em;
    }
    #menu {
        float: right;
        font-size: 1.4em;
        width: 70%;
        margin-top: -32px;
    }
}
.fixed {
    z-index: 5000;
    background-color: #eae7dc; /* this is the colour change on scroll for BACKGROUND*/
    border-bottom: 1px solid silver;
}
header.fixed #logo {
    color: var(--logo-color);
}
.fixed #about a {
    color: var(--main-color); /* this is the colour change on scroll for LETTERS */
}
.fixed #about a:hover {
    color: #e98074; /* this is the colour change on scroll for HOVERED OVER LETTERS */
}

/* #void {
    padding: 80px;
    color: transparent;
} */

/* section one welcome */
.introduction .container{
    margin-top: 110px;
    padding-top: 80px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    width: 100vw;
    height: 45vw;
}
.introduction .cats .img_text{
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 250px;
    text-align: center;
}

/* section portfolio */
.portfolio .portfolio_img{
    display: flex;
    justify-content: center;
    align-content: space-around;
    max-width: 1110px;
    width: auto;
    height: auto;
    margin-top: 40px;
    margin-bottom: 130px;
    margin-right: auto;
    margin-left: auto;
}
.portfolio .portfolio_img .dana, .eslem{
    padding: 0 20px;
    margin: 0 50px;
    border: 3px solid var(--main-color);
    border-bottom-width: 10px;
    border-radius: 8px;
    height: 600px;
}
.portfolio .portfolio_img .dana{
    background-color: var(--dana-color);
}
.portfolio .portfolio_img .eslem{
    background-color: var(--eslem-color);
}
img{
    /* justify-self: center; */
    height: 100%;
    width: 100%;
    
}
.portfolio .portfolio_img .p{
    display: flex;
    font-size: 50px;
    width: 220px; 
    transform: translate(150px,-70px);
    color: white;
}
/* About sections */
/* h1 {
    color: var(--main-color);
    width: 200px;
    position: absolute;
    padding-bottom: 20px;
    border: 2px solid black;
}
.About_menu {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border: 2px solid black;
}



/* Other projects section */
/* h3 {
    color: var(--second-color)
}  */
